:root {
  font-size: calc(0.5rem + 1.5vmin);
}

body {
  font-family: sans-serif;
  background: #ecf0f1;
}

input {
  font-size: calc(0.5rem + 1.5vmin);
}

button {
  font-size: calc(0.5rem + 1.5vmin);
}

.masthead {
    background: #1a8bad;
  	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
    margin: 0 0 1em;
    font-size: calc(0.5rem + 5vmin);
    padding: 1em 0;
    font-weight: 300;
    text-align: center;
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}


.parent {
  display: grid;
  place-items: center;
}

.card {
  width: clamp(23ch, 60%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: white;
}         
