
:root {
  font-size: calc(0.6rem + 1.5vmin);
}

input {
  font-size: calc(0.6rem + 1.5vmin);
}

button {
  font-size: calc(0.6rem + 1.5vmin);
}

body {
  /* setting auto to left and right will */
  /* margin-top margin-right margin-bottom margin-left */
  margin: 0 auto;

  font-family: "Helvetica", "Arial", sans-serif;
  /* the height of a line box. This puts space above and below the text line */
  line-height: 1.5;

  /* Softer black for text */
  color: #555;

  /* The body text can only be up to 50em (font size) */
  max-width: 50em;
}

.masthead {
  /*background: #1a8bad;*/
  background: #2b8cbe;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.site-title {
  padding: 1em 0;
  font-weight: 300;
  text-align: center;
  color: hsl(5, 45%, 95%);
  text-decoration: none;
}

.card {
  padding: 1em;
  background-color: #ece7f2;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  border: 2px solid #a6bddb;
}

